.App {
  text-align: center;
  padding: 0 200px;
}

a {
  color: #000;
  text-decoration: none;
}

.card-title {
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-body {
  height: 210px;
  margin-bottom: 0.5rem;
}

.add-to-cart-form {
  display: flex;
  align-items: center;
  padding: 10px;
}

footer p {
  background: #eee;
  color: #888;
  margin: 20px 0 0;
  padding: 0.5rem 0;
  text-align: center;
}

/* Extra small devices */
@media screen and (max-width: 576px) {
  .App {
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-title {
    font-size: 1.1rem;
  }

  .card-body {
    height: 180px;
    padding: 8px;
  }
}

/* Small devices */
@media screen and (min-width: 576px) {
  .App {
    padding-left: 50px;
    padding-right: 50px;
  }

  .card-body {
    height: 180px;
    padding: 8px;
  }

  .page-title {
    font-size: 1.4rem;
    text-align: left;
  }
}

/* Medium devices */
@media screen and (min-width: 768px) {
  .App {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/* Large devices */
@media screen and (min-width: 992px) {
  .App {
    padding-left: 100px;
    padding-right: 100px;
  }

  .page-title {
    font-size: 1.6rem;
    text-align: left;
  }
}

/* Extra large devices */
@media screen and (min-width: 1200px) {
  .App {
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-title {
    font-size: 1.8rem;
    text-align: left;
  }
}

/* Extra extra large devices */
@media screen and (min-width: 1400px) {
  .App {
    padding-left: 200px;
    padding-right: 200px;
  }

  .page-title {
    font-size: 2rem;
    text-align: left;
  }
}
